### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [3]:
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [4]:
purchase_data_good = purchase_data.dropna(how='any')

In [5]:
purchase_data_good.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [6]:
unique_players = purchase_data["SN"].value_counts()

unique_players

Lisosia93       5
Iral74          4
Idastidru52     4
Phaena87        3
Lisopela58      3
               ..
Ithergue48      1
Hiasurria41     1
Sundadarla27    1
Jiskirran77     1
Lisirra87       1
Name: SN, Length: 576, dtype: int64

In [7]:
columns= [" "]
players = pd.DataFrame(columns)
Total_num_players = len(unique_players)
players["Total Players"] = Total_num_players

## Player Count

* Display the total number of players

In [8]:
players.head()

   0  Total Players
0               576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#columns= ["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]

items =purchase_data_good.loc[:, ["Item ID", "Item Name", "Price"]]
items.groupby("Item ID").head()

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
766       58          Freak's Bite, Favor of Holy Might   4.14
774      101                               Final Critic   4.19
777       67      Celeste, Incarnation of the Corrupted   3.46
778      101                               Final Critic   4.19
779       50                                       Dawn   4.60

[697 rows x 3 columns]

In [10]:
columns= [" "]

display = pd.DataFrame(columns)

display["Number of Unique Items" ] = len( items["Item ID"])

display["Average Price"] = items["Price"].sum()/len( items["Item ID"])
display["Average Price"] = display["Average Price"].map('${:,.2f}'.format)
display["Number of Purchases"] = purchase_data_good["Item ID"].count()

display["Total Revenue"] = purchase_data["Price"].sum()
display

   0  Number of Unique Items Average Price  Number of Purchases  Total Revenue
0                        780         $3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
genderGroup = purchase_data_good["Gender"].value_counts()

genderGroups_df = pd.DataFrame(genderGroup)
genderGroups_df=genderGroups_df.rename(columns={"Gender": "Count"})

genderGroups_df["Percent"]= genderGroups_df["Count"]/genderGroups_df["Count"].sum()*100
genderGroups_df["Percent"]= genderGroups_df["Percent"].map('{:,.2f}%'.format)
genderGroups_df

                       Count Percent
Male                     652  83.59%
Female                   113  14.49%
Other / Non-Disclosed     15   1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:

Gender_Purchase_Count = purchase_data_good.groupby(["Gender"])["Price"].count().rename("Purchase Count")
Average_Purchase_Price_by_Gender = purchase_data_good.groupby(["Gender"])["Price"].mean().rename("Average Purchase Price")
Total_Purchase_Value_by_Gender = purchase_data_good.groupby(["Gender"])["Price"].sum().rename("Total Purchase Value")
Average_Purchase_Total_PG = Total_Purchase_Value_by_Gender / genderGroups_df["Count"]
Gender_Purchasing_AnalysisDF = pd.DataFrame({"Purchase Count": Gender_Purchase_Count,
                                            "Average Purchase Price": Average_Purchase_Price_by_Gender,
                                            "Total Purchase Value": Total_Purchase_Value_by_Gender,
                                            "Avg Total Purchase Per Person": Average_Purchase_Total_PG})

Gender_Purchasing_AnalysisDF["Average Purchase Price"] = Gender_Purchasing_AnalysisDF["Average Purchase Price"].map("${:.2f}".format)
Gender_Purchasing_AnalysisDF["Total Purchase Value"] = Gender_Purchasing_AnalysisDF["Total Purchase Value"].map("${:.2f}".format)
Gender_Purchasing_AnalysisDF["Avg Total Purchase Per Person"] = Gender_Purchasing_AnalysisDF["Avg Total Purchase Per Person"].map("${:.2f}".format)
Gender_Purchasing_AnalysisDF = Gender_Purchasing_AnalysisDF.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase Per Person"]]
Gender_Purchasing_AnalysisDF

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Average Purchase Price, dtype: float64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [253]:
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
new_series= pd.cut(purchase_data_good["Age"], bins, labels = bin_labels)
Playes_total = pd.DataFrame(new_series)

Age_Demographics_Totals = Playes_total["Age"].value_counts()

Age_Demographics_Percents = Age_Demographics_Totals / Total_num_players * 100
Age_DemographicsDF = pd.DataFrame({"Total Count": Age_Demographics_Totals, "Percentage of Players": Age_Demographics_Percents})
Age_DemographicsDF = Age_DemographicsDF.round(2)
Age_DemographicsDF.sort_index()

       Total Count  Percentage of Players
<10             23                   3.99
10-14           28                   4.86
15-19          136                  23.61
20-24          365                  63.37
25-29          101                  17.53
30-34           73                  12.67
35-39           41                   7.12
40+             13                   2.26

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [263]:
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


purchase_data["Age Ranges"] = pd.cut(purchase_data_good["Age"], bins, labels= bin_labels)

Purchase_Counts = purchase_data.groupby(["Age Ranges"])["Price"].count()
Average_Price = purchase_data.groupby(["Age Ranges"])["Price"].mean().round(2)
Purchase_Value = purchase_data.groupby(["Age Ranges"])["Price"].sum().round(2)
Average_Purchase_Total_Per_Person = Purchase_Value / Age_DemographicsDF["Total Count"].round(2)


Purchasing_Analysis = pd.DataFrame({"Purchase Count": Purchase_Counts,
                                            "Average Purchase Price": Average_Price,
                                            "Total Purchase Value": Purchase_Value,
                                            "Avg Total Purchase Per Person": Average_Purchase_Total_Per_Person})


Purchasing_Analysis["Purchase Count"] = Purchasing_Analysis["Purchase Count"].map("{:,}".format)
Purchasing_Analysis["Average Purchase Price"] = Purchasing_Analysis["Average Purchase Price"].map("${:,.2f}".format)
Purchasing_Analysis["Total Purchase Value"] =Purchasing_Analysis["Total Purchase Value"].map("${:,.2f}".format)
Purchasing_Analysis["Avg Total Purchase Per Person"] = Purchasing_Analysis["Avg Total Purchase Per Person"].map("${:,.2f}".format)
Purchasing_Analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [262]:
Gender_Analysis = purchase_data_good.groupby("SN")

Top_Purchase_Count = Gender_Analysis["Purchase ID"].count().round(2)
Avg_Spender_Price = Gender_Analysis["Price"].mean().round(2)
Total_Spender_Purchase = Gender_Analysis["Price"].sum().round(2)

Top_gender_Analysis = pd.DataFrame({"Purchase Count": Top_Purchase_Count,
                               "Average Purchase Price" : Avg_Spender_Price,
                                "Total Purchase Value": Total_Spender_Purchase
})
                                  
Top_5_gender_DataFrame = Top_gender_Analysis.sort_values(["Total Purchase Value"], ascending=False).head(5) 
Top_5_gender_DataFrame["Average Purchase Price"] = Top_5_gender_DataFrame["Average Purchase Price"].map("${:.2f}".format)
Top_5_gender_DataFrame["Total Purchase Value"] = Top_5_gender_DataFrame["Total Purchase Value"].map("${:.2f}".format)
Top_5_gender_DataFrame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [257]:
Popular_Group = purchase_data_good.groupby(["Item ID", "Item Name"])
Popular_Purchase_Count = Popular_Group["Price"].count()
Popular_Purchase_Value = Popular_Group["Price"].sum()
Popular_Item_Price = Popular_Purchase_Value/Popular_Purchase_Count



Popular_Items = pd.DataFrame({"Purchase Count" : Popular_Purchase_Count,
                                  "Item Price": Popular_Item_Price,
                                  "Total Purchase Value": Popular_Purchase_Value})

Popular_Items = Popular_Items.sort_values("Purchase Count", ascending=False)

                                
Popular_Items["Item Price"] = Popular_Items["Item Price"].map("${:,.2f}".format)
Popular_Items["Total Purchase Value"] = Popular_Items["Total Purchase Value"].map("${:,.2f}".format)
Popular_Items.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [265]:
Profitable_Items = Popular_Items.sort_values("Total Purchase Value", ascending=False)
Profitable_Items = Popular_Items.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]

Profitable_Items.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16